.cart{
    align-self: center;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 5rem;
     
}

.cart .items{
   display: flex;
   align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cart .items .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.3rem 1.2rem;
    height: 13rem;
    width:8rem;
    border: 4px solid #c7b304;
    /* box-shadow: 5px 5px 0px rgba(173, 134, 4, 0.4); */
    border-radius: 10%;
    color: rgb(255, 223, 43);
    margin: 0.8rem 0.7rem;
}

.cart h2{
    margin-bottom: 0;
    margin-top: 0.5 rem;
    padding: 0.3rem 0.4rem;
    align-self: center;
    color: rgb(255, 223, 43);
    font-size: 2rem;
}
.cart .items .item:hover{

    cursor: pointer;
}


.cart .remove{
    width: 90px;
    height: 27px;
    background:none;
    color: aliceblue;
    border-radius: 18px;
}

.cart .remove:hover{
    background-color: rgb(121, 103, 2);
}